# Core Packages
numpy==1.26.4


# Visualization
matplotlib
seaborn
# Jupyter
notebook

# Utilities
colorama
pytest
black
streamlit
loguru

# SHeetHelper Reequirements
gspread
google-auth

streamlit-shadcn-ui

# For Streamlit Google Sheet Connection to work from Community Cloud
st-gsheets-connection

pandas
